<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Polityka prywatności</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h1>Polityka prywatności</h1>
<div id="privacy">
    <h2> Informacje ogólne.</h2>
    <p>
        Administratorem Danych Osobowych oraz Operatorem Serwisu (właścicielem serwisu) jest firma: ANABO
        Sp. z o.o., ul.Szosa Kisielińska 20, 65-247 Zielona Góra

        Serwis pozyskuje informacje o użytkownikach i ich zachowaniu poprzez:

        - Dobrowolnie wprowadzone dane w formularzach.
        - Zapisywanie plików cookie (tzw. "ciasteczka") w urządzeniach końcowych.
        - Gromadzenie statystyki odwiedzin z wykorzystaniem narzędzi Google Analytics.
        - Gromadzenie logów serwera WWW przez operatora hostingowego.

    </p>
    <h2> Informacje w formularzach.</h2>
    <p>
        Serwis zbiera informacje podane dobrowolnie przez użytkownika.
        Serwis może zapisywać ponadto informacje o parametrach połączenia (np. czas, adres IP).
        Dane w formularzu są udostępniane podmiotom trzecim wyłącznie za zgodą użytkownika.
        Dane podane w formularzu mogą stanowić zbiór potencjalnych klientów, zarejestrowany przez Operatora Serwisu.
        Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np. w celu
        obsługi kontaktu handlowego.
    </p>
    <h2>Logi serwera.</h2>
    <p>
        Informacje o niektórych zachowaniach użytkowników podlegają logowaniu w warstwie serwerowej. Dane te są
        wykorzystywane wyłącznie w celu administrowania serwisem oraz w celu zapewnienia jak najbardziej sprawnej
        obsługi świadczonych usług hostingowych.

        Przeglądane zasoby identyfikowane są poprzez unikalne adresy URL. Ponadto zapisowi mogą podlegać:

        czas nadejścia zapytania,
        czas wysłania odpowiedzi,
        nazwę stacji klienta – identyfikacja realizowana przez protokół HTTP oraz HTTPS,
        informacje o błędach jakie nastąpiły przy realizacji połączenia HTTP oraz HTTPS,
        adres URL strony poprzednio odwiedzanej przez użytkownika (referer link) – w przypadku gdy przejście do
        Serwisu nastąpiło przez odnośnik,
        informacje o przeglądarce internetowej użytkownika,
        Informacje o adresie IP.

        Powyższe dane nie są kojarzone z konkretnymi osobami przeglądającymi strony.
    </p>
</div>

</body>
</html>